/** Group tools CSS */
#invite_to_group .ui-helper-hidden-accessible {
	display: none;
}

/* groups simplified options */
.group-tools-simplified-options {
	display: flex;
	flex-wrap: wrap;
	
	> div {
		flex-basis: 45%;
		flex-grow: 1;
	}
}
	
.group-tools-simplified-option {
	background: $(background-color-soft);
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: $(text-color-mild);
	padding: 1rem;
	margin: 1rem;
	cursor: pointer;
	
	border-radius: 3px;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);
	
	> h2 {
		display: block;
		color: inherit;
	}
	
	&.elgg-state-active {
		color: $(button-action-font-color);
		background: $(button-action-background-color);
	}
}

#group-tools-stale-message.elgg-message {
	cursor: default;
}

.elgg-menu-filter-groups-all {
	.group-tools-listing-sorting {
		margin-left: auto;
	}
}

#group-tools-invite-email {
	.elgg-fieldset-horizontal {
		align-items: flex-end;
	}
}
